{% extends "base.html" %}
 
{% load i18n %}
{% load staticfiles %}

{% block title %}
    {% trans post.title %}
{% endblock %}

{% block description %}
    {% trans post.title %}
{% endblock %}
   
{% block content %}
<div class="clearfix" style="height: 71px;"></div>
<div class="container-fluid">
    <div class="container">
        <form id="edit-blog-post" method="{% if post %}POST{% else %}PUT{% endif %}">
            {% csrf_token %}
            <table>
                {{ form }}
                <tr>
                    <td>&nbsp;</td>
                    <td>
                        <input type="submit" value="Submit Changes" />
                        {% if post %}
                        <input type="button" value="Delete" />
                        {% endif %}
                    </td>
            </table>
        </form>
    </div>
</div>
{% endblock %}

{% block js_includes %}
<script src="{% static "js/edit_blog_post.js" %}"></script>
{% endblock %}
